__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.pyo
*.pyd
*.so

.venv/
env/
venv/
.env

*.log
logs/

# Jupyter artifacts
.ipynb_checkpoints/

.DS_Store
Thumbs.db

.vscode/
.idea/

PDF_dosyalari/
municipal_summary/
SEGE Verisi/
excel_files/
2019_verisi/
2024_verisi/
SehirlerBolgeler

*.xlsx
*.xls

wheels/
